/* 
     Նկարագրություն
     Յուրաքանչյուր բաժնի style-գրվում է տվյալ բաժնի անվանմանը համապատասխան
     օրինակ about__selectin կամ home__button 
     կրկնվելու հավանականությունը բացառելու նպատակով
 */
 *{
  padding: 0;
  box-sizing: border-box;
}
/* nav-bar Css */
.nav_bar{
  width: 1440px;
  height: 80px;
  background-color:#232536;
  display: flex;
  justify-content: space-between;
}
.logo{
  padding-left: 83px;
  padding-top: 25px;
}


.nav_menu{
  display: flex;
  padding-right: 80px;
  padding-top: 12px;
}
.nav_bar ul{
list-style: none;
display: flex;
}
.nav_bar a{
  color: #FFFFFF;
  padding: 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  
}
.butt_open{
  width: 179px;
  height: 56px;
  background-color:#FFFFFF;
  color: #232536;
  padding: 16px 48px;
}
.butt_open a{
  color: black;
  padding: 3px;
}
/* nav-bar Css */


/* animation style */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(50px);
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 100;
    transform: scale(0);
    transform-origin: left;
  }
  .transition-wipe{
    transition: 0.5s cubic-bezier(0, 0, 0.58, 1);
  }
  html.is-animating .transition-wipe {
    transform: scaleX(1);
  }
  /* animation style */

footer{
 max-width:1440px;
 width: 100%;
 height: 560px;
 background-color: #232536;
}
.footer__nav{
  display: flex;
  justify-content: flex-end;
  padding: 59px 80px;
}
.footer__nav ul{
  list-style: none;
  display: flex;
}
.footer__nav a{
  padding: 24px;
  text-decoration: none;
  color: #FFFFFF;

}
.footer__serch{
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
 
  height: 256px;
  background-color:#2e3040;
  border: solid 1px #2e3040;
  
}
.container__footer{
  display: flex;
  justify-content: center;
  
}
.h3__fotter{
  width: 562px;
  height: 96px;
}
.h3__fotter h3{
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #FFFFFF;

}
.email__button{
  padding: 80px;
}
.footer__finish{
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: space-between;
}
.email__button input{
    width: 323px;
    height: 56px;
    background-color: #2e3040;
    border: 1px solid #4C4C4C;
    color: #6D6E76;
    padding: 25px;
}
.email__button button{
  width: 179px;
  height: 56px;
  background-color: #FFD050;
}
.email__button button:hover{
  background-color: #EDC14A;
  cursor: pointer;
}
.email__button a{
  color: #232536;
  list-style: none;
  text-decoration: none;
  
}

.fotter__contact{
  color: #6D6E76;
  font-size: 16px;
  line-height: 28px;
  
}
.icon__footer i{
 width: 16px;
 height: 16px;
 color: #6D6E76;
 padding: 26px;
}

/* footer style */

.containerFluid{
  margin: 0 auto;
  max-width: 1440px;
  width: 100%
}

@media screen and (max-width:1028px) {
  .logo{
    padding: 0;
  }
  .nav_menu{
    padding: 0;
  }
  .h3__fotter h3{
    font-size: 28px;
  }
}
@media screen and (max-width:768px){
  .nav_bar a{
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center
  }
  .butt_open{
    width: 90px;
  }
  .footer__nav a{
    padding: 5px;
  }
  .h3__fotter h3{
    font-size: 18px;
    line-height: 24px;
  }
  .footer__nav{
    padding: 0;
  }
  .email__button input{
    width: 200px;
  }
}
@media screen and (max-width:450px){
  .logo{
    display: none;
  }
  .footer__nav a{
    padding: 0px;
    font-size: 12px;
  }
}